In [99]:
## Paquetes a usar
import pandas as pd

In [108]:
## Lectura del archivo como DataFrame
df = pd.read_csv("universities_followers_2022.csv",sep=";")
df[df.user_name == "Tsiocastilla"]

,university,user_id,user_name,number_tweets,friends_count,followers_count,created_at
18385,udeconcepcion,1168676070117314560,Tsiocastilla,1033,57,33,Tue Sep 03 00:04:37 +0000 2019

In [106]:
for name in df.columns: print(name)

university
user_id
user_name
number_tweets
friends_count
followers_count
created_at

In [102]:
## Borrado de user_id duplicadas
print("ID totales: ", df.user_id.count())
df.drop_duplicates(subset="user_id",inplace=True)
print("ID totales sin duplicados: ",df.user_id.count())

ID totales:  29245
ID totales sin duplicados:  26101

In [103]:
## Guardado de ID (numerico y string) sin duplicadods como csv
df.to_csv("clean_int_id.csv",sep=" ",columns=["user_id","followers_count"],header=False, index=False)
df.to_csv("clean_str_id.csv",sep=" ",columns=["user_name","followers_count"],header=False, index=False)